// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';


$fa-font-path: "../webfonts";
// @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';



.router-link-exact-active {
    background-color:#4fc08d;
    color:#fff !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color:#4fc08d;
}
.navbar-white {
    background-color:#4fc08d;
  }
.card-primary:not(.card-outline) > .card-header {
    background-color: #4fc08d;
    color:#fff
}
  
.blue{
    color: $blue;
}

.indigo{
    color: $indigo;
}

.purple{
    color: $purple;
}

.pink{
    color: $pink;
}

.red
{
    color: $red;
}
.orange{
    color: $orange;
}

.yellow{
    color: $yellow;
}

.green{
    color: $green;
}

.teal{
    color: $teal;
}

.cyan{
    color: $cyan;
}
